<template name="centenarianEdit">
  <form class="main">
    <div class="control-group">
      <label class="control-label" for="name">name</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="{{name}}" placeholder="name" class="form-control"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="dateBirth">dateBirth</label>
      <div class="controls">
          <input name="dateBirth" id="dateBirth" type="text" value="{{dateBirth}}" placeholder="dateBirth" class="form-control"/> 
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="age">age</label>
      <div class="controls">
          <input name="age" id="age" type="text" value="{{age}}" placeholder="age" class="form-control"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="state">state</label>
      <div class="controls">
          <input name="state" id="state" type="text" value="{{state}}" placeholder="state" class="form-control"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="ethnicity">ethnicity</label>
      <div class="controls">
          <input name="ethnicity" id="ethnicity" type="text" value="{{ethnicity}}" placeholder="ethnicity" class="form-control"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="lifestyle">lifestyle</label>
      <div class="controls">
          <input name="lifestyle" id="lifestyle" type="text" value="{{lifestyle}}" placeholder="lifestyle" class="form-control"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="biography">biography</label>
      <div class="controls">
          <input name="biography" id="biography" type="text" value="{{biography}}" placeholder="biography" class="form-control"/>
      </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary submit"/>
        </div>
    </div>
    <hr/>
    <div class="control-group">
        <div class="controls">
            <a class="btn btn-danger delete" href="#">Delete post</a>
        </div>
    </div>
    
  </form>
</template>