<template name="layout">
    <main>
        <nav class="header-nav">
            <div class="nav-wrapper">
                <div class="nav-logo">
                    <a href="/"><img src="/img/Logo_Active_Cent.png" alt=""/></a>
                </div>
                <div class="nav-row">
                    <ul class="nav-ul">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About The Project</a></li>
                        <li><a href="/contacts">Contact</a></li>
                    </ul>
                    <div class="nav-signin">
                        {{>loginButtons align="right"}}
                    </div>
                </div>
            </div><!-- /.nav-wrapper -->
        </nav>

        {{>yield}}
        {{>footer}}
    </main>
</template>