<template name="footer">
    <footer>
        <div class="footer-wrapper">
            <div class="footer-leftblock">
                <div class="footer-logo"></div><!-- /.footer-logo -->
                <p class="footer-copyright">&copy; 2015 www.supercentenarians.info</p><!-- /.footer-copyright -->
            </div><!-- /.footer-leftblock -->
            <nav class="footer-nav">
                <ul class="footer-nav-list">
                    <li>Home</li>
                    <li>About the project</li>
                    <li>Contact</li>
                </ul>
                <ul class="footer-nav-menu-menu">
                            <li>Rules</li>
                            <li>Supercentenarians</li>
                            <li>Influencers</li>
                            <li>Volunteers</li>
                </ul><!-- /.footer-nav-menu-menu -->
            </nav><!-- /.footer-nav -->
            <div class="footer-social">
                <ul class="footer-social-urls">
                    <li class="social-url-twitter"><a href=""></a></li>
                    <li class="social-url-fb"><a href=""></a></li>
                    <li class="social-url-g"><a href=""></a></li>
                    <li class="social-url-in"><a href=""></a></li>
                </ul><!-- /.footer-social-url -->
                <div class="footer-social-facebook">
                    
                </div><!-- /.footer-social-facebook -->
            </div><!-- /.footer-social -->
        </div><!-- /.footer-wrapper -->
    </footer>
</template>