<template name="aboutRulesPage">
<section class="contentPages">
<article>
<h2>Rules</h2>

<p>
The award is established by Dmitry Kaminskiy.</p>

<p>
<strong>Prize:</strong> $1 million dollars is a birthday gift for the first person to reach record-breaking age of 123 years.</p>

<h3>How to get the prize</h3>
<p>
In order to be eligible for the prize, candidate’s age should be officially verified by public and governmental organizations. The list, which is used for decision is open and consists of:</p>
<ul>
    <li><a href="http://www.grg.org/">Gerontology Research Group</a></li>
    <li><a href="http://www.demogr.mpg.de/en/">Max Plank Institute for Demographic Research</a></li>
    <li><a href="http://www.guinnessworldrecords.com/">Guinnes World Record Book</a></li>
</ul>
<p>
Validation procedures of these organizations vary in details. However basics are similar; potential supercentenarian has all her or his data from official and sometimes cleric sources collected and verified. Then their life story is modeled and checked for consistency. The same lifestory verification is carried out for family members in order to eliminate discrepancy and false claim.</p>
<p>
Further reading material on age validation you <a href="http://www.demogr.mpg.de/books/drm/007/1-1.pdf">can find here</a>.</p>

<h3>Representatives</h3>
<p>
Communication regarding the award via official representatives is allowed and encouraged. Representative of a supercentenarian should have a written permit (a letter of attorney) from the person to present their interest. However representative is not eligible for the prize.</p>

<h3>Clarification</h3>
<p>
For any questions and suggestions, please, use our contact form. We will answer all sensible correspondence within two weeks.<br/>
&mdash; See more at: <a href="http://supercentenarians.info/rules/">Supercentenarians.info</a></p>
</article>
</section>
</template>