<template name="mainPage">
	<section class="section-main-gallery-block">
            <div class="gallery wrapper">
                <div class="section-gallery">
                    <p>Supercentenarians Project is a special movement for active long-livers from all over the world. The project is devoted to develop a trend of healthy longevity within wide circles.</p>
                </div>
                <div class="section-banner">
    
                </div>
            </div>
    </section>

        <section class="control-bar">
            <a class="control-bar-icon" href=""><img src="img/icon-grid.svg" alt="" /></a>
            <a class="control-bar-icon" href="" ><img src="img/icon-geo.svg" alt="" /></a>
            <a class="control-bar-button" href="">ADD SUPERCENTENARIAN</a>
            <a href="" class="control-bar-icon filter"><img src="img/icon-filter.svg" alt="" /></a>
        </section>
{{>centenarianList}}
        <section class="about">
            <article>
                <h2>About the project</h2>
                <p>The project is devoted to develop a trend of healthy longevity within wide circles, especially elderly people. 
                We recruit volunteers, they are looking for centenarians (85+) with active lifestyle (must have) and inviting them into our association.
                We will be collecting data on outstanding elderly people. They might dance, do gymnastics, paint, run marathons or lead the company and they should make a social impact. We would like to share and popularize their life stories and make a good examples of healthy longevity for everyone.
                We will study them and try to find the keys to healthy longevity, what is common to all of them, specific life conditions, places of living, job type or genetic patterns.
                It’s very likely that we will find some general rules in several aspects of extended longevity such as superlongevity (110+), prolonged healthy longevity and social activity in old age. As well we develop new economic models and real steps for healthcare and pension systems to avoid collapse due to increased average life expectancy and aging population. Paradoxically, but promoting of healthy longevity can positively impact on the situation.</p>
            </article>
        </section>
        
{{>volunteersList}}
</template>