<template name="centenarianBlock">
    <div class="centenarian-block">
        <div class="centenarian-block-photo"></div>
        <div class="centenarian-block-info">
            <h3 class="centenarian-name">{{name}}</h3>
            <p class="age">{{age}}</p>
            <p class="date">{{dateBirth}}</p>
            <div class="right-column">
                <figure class="flag"></figure>
                <figure class="heart-noclick"></figure>
                <p class="click-counter">{{clickedTimes}}</p>
            </div><!-- /.right-column -->
        </div>
    </div><!-- /.centenarian-block -->
</template>