<template name="centenarianPage">
	<section class="section-centenarian-gallery-block">
                <div class="section-banner">
                </div>
    </section>
    <section class="section-centenarianPage-mainBlock">
    	<article class="centenarianPage-textBlock">
    		
    	</article>
    	<aside class="centenarianPage-infoBlock">
    		<div class="centenarianPage-infoBlock-profileBlock">
    			
    		</div>
    		<div class="centenarianPage-infoBlock-socialBlock">
    			
    		</div>
    		<div class="centenarianPage-infoBlock-mediaBlock">
    			
    		</div>
    		<div class="centenarianPage-Block-achievementsBlock">
    			
    		</div>
    	</aside>
    </section>
</template>