<template name="centenarianPage">
	<section class="section-centenarian-gallery-block">
                <div class="section-banner">
                </div>
    </section>
    <section class="section-centenarianPage-mainBlock">
    	<article class="centenarianPage-textBlock">
    		<h2>{{name}}</h2>
    		<p>
    			submitted by {{author}}
    			<a href="{{pathFor 'centenarianEdit'}}">Edit</a>
    		</p>
    		<p>Jeralean Talley (née Kurtz; born May 23, 1899) is an American supercentenarian who is, at the age of 115 years, 347 days, the verified world's oldest living person. She was previously thought to be the oldest living American, from the death of Elsie Thompson on March 21, 2013 until Gertrude Weaver was verified to be older in July 2014.[4] Upon Weaver's death on April 6, 2015,[5] Talley became the oldest living American and oldest living person in the world.</p>
    		<h2>Biography</h2>
    		<p>Jeralean Kurtz[6] was born in Montrose, Georgia on May 23, 1899 to Samuel and Amelia Kurtz.[7][8] One of 11 siblings, she spent her early years living on a farm picking cotton and peanuts and digging sweet potatoes out of the ground. She moved to Inkster, Michigan, in 1935, and has lived there since. A year later, she married Alfred Talley (January 30, 1893 – October 17, 1988) and had one child, a daughter, Thelma Holloway, born in 1937. Jeralean and Alfred were wed for 52 years before he died in October 1988, at the age of 95.[9] She has three grandchildren, 10 great-grandchildren, and 4 great-great-grandchildren.[10][11] <br />
			She does not drive a car, saying that she tried it once but pushed the wrong pedal, causing it to go in reverse rather than move forward. She never wanted to try again.[12]</p>
			<h2>Health and lifestyle</h2>
			<p>According to her daughter Thelma, Jeralean stayed active in her later life by sewing dresses, making quilts and playing the slot machines at casinos. She bowled until she was 104, when her legs got too weak, but still goes on annual fishing trips with her friend Michael Kinloch and his son Tyler (who is also her godson). In May 2013, at age 114, she caught 7 catfish.[10][11] <br />
 
			Talley is a member of the New Jerusalem Missionary Baptist Church, whose members refer to her as “Mother Talley”. In May 2013, they celebrated her 114th birthday by officially naming the church's driveway after her. Talley also received a personalised letter from U.S. President Barack Obama, who wrote that she was “part of an extraordinary generation”.[13] <br />
			 
			She lives by the Golden Rule: “Treat others the way you want to be treated”. Known in the community for her wisdom and wit, she has sometimes been asked for advice. She has previously advised people to use common sense, saying “I don’t have much education but what little sense I got, I try to use it”.[14]</p>
    	</article>
    	<aside class="centenarianPage-infoBlock">
    		<div class="centenarianPage-infoBlock-profileBlock tileBlock">
    			<div class="profileBlock-photo">
    				<img src="/img/centenarian-photo.jpg" alt="" />
    			</div>
    			<div class="profileBlock-info">
    				<div class="profileBlock-info-leftColumn">
    					<p>Date of Birth</p>
    					<p>Age</p>
    					<p>State</p>
    					<p>Ethnicity</p>
    					<p>Lifestyle</p>
    				</div>
    				<div class="profileBlock-info-rightColumn">
    					<p>{{dateBirth}}</p>
    					<p>{{age}}</p>
    					<p>{{state}}</p>
    					<p>{{ethnicity}}</p>
    					<p>{{lifestyle}}</p>
    				</div>
    			</div>
    		</div>
    		<div class="centenarianPage-infoBlock-socialBlock tileBlock clear">
    			<div class="socialBlock-heartColumn">
    				<p class="heartColumn-heartCounter">
    					234
    				</p>
    				<p class="heartColumn-rating">
    					Rating: 14
    				</p>
    			</div>
    			<div class="socialBlock-socialWrapper">
    				<div class="socialWrapper-twitter">220k</div>
    				<div class="socialWrapper-gplus">103k</div>
    				<div class="socialWrapper-linkedin">874</div>
    				<div class="socialWrapper-facebook">580k</div>
    			</div>
    		</div>
    		<div class="centenarianPage-infoBlock-mediaBlock tileBlock clear">
    			<img src="/img/mediaBlock-1.jpg" alt="" />
    			<img src="/img/mediaBlock-2.jpg" alt="" />
    			<img src="/img/mediaBlock-3.jpg" alt="" />
    			<img src="/img/mediaBlock-4.jpg" alt="" />
    			<img src="/img/mediaBlock-5.jpg" alt="" />
    			<img src="/img/mediaBlock-6.jpg" alt="" />
    			
    		</div>
    		<div class="centenarianPage-Block-achievementsBlock tileBlock">
    			<img src="/img/achievementsBlock-achievement-1.svg" alt="" />
    			<img src="/img/achievementsBlock-achievement-2.svg" alt="" />
    		</div>
    	</aside>
    </section>
</template>